body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

header {
    background-color: rgb(14, 248, 236);
}

.gameEnd {
    background:linear-gradient(blue 0%,rgb(14, 248, 236) 25%, rgb(171, 243, 239) 50%, rgb(14, 248, 236) 75%, blue 100%);
    margin-top: 10px;
}

.question {
    font-size: 1.5em;
}